/SmartTraining/nbproject/private/
/smarttraining-core/nbproject/private/
/smarttraining-common/dist/
/smarttraining-common/build/
/smarttraining-core/build/
/SmartTraining/build/
/SmartTraining/dist/
/smarttraining-core/dist/